.main-title-panel {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  background: -webkit-linear-gradient(257deg, #e3e13a, #1aedec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  width: 50%;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 19px;
}

.content-data-matriz {
  width: 90%;
  background-color: #F4F4F4;
  border-radius: 2em;
  padding: 25px;
  margin: 0 auto;
}

.container-table{
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  color: #000000;

}


tr:nth-child(even) {
  background-color: #dddddd;
  color: #000000;
}

.text {
  text-align: center;
}

.title {
  background: black;
  color: white;
  text-align: center;
}

.actionButtonsBox {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #e91e63, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 17px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #393b6c;
  padding: 10px 20px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
      font-size: 17px;
      min-width: 190px;
  }
}

.info-user-box3 {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 1em;
  background: rgb(227, 225, 58);
  background: linear-gradient(90deg, rgba(227, 225, 58, 1) 0%, rgba(26, 237, 236, 1) 100%);
}

.column-form{
  width: 150px;
}

.form-field-w{
  width: 120px;
}




