body {
  color: #FFFFFF;
  border: none;
  /* background-color: #005f83; */
  background: #282a70;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
